*{
    box-sizing: border-box;
}

.card{
    position: relative;
    display: inline-block;
    width: 300px;
    height: 325px;
    /* Establishing a fixed height for my cards */
    margin: 5px;
    background-color: gray;
    vertical-align: top;
    padding: 16px;
    border-radius: 8px;
}

.card:hover{
    background-color:darkcyan;
    transition: background-color 0.3s ease;
}

.card img{
    width: 100%;
    height: 150px;
    display: block;
    margin: 0 0 12px 0;
    border-radius: 8px;
}

.card-title{
    display: inline-block;
    margin: 0 0 8px 0;
    font-size: 1.3rem;
    background-color:tan;
    border-radius: 4px;
    padding: 6px 6px;
    font-family: 'Roboto', sans-serif;
}

.card-description{
    margin: 0 0 16px 0;
    line-height: 1;
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
}

.card-button{
    display: block;
    padding: 10px 16px;
    background-color: lightblue;
    color:black;
    text-decoration: none;
    border-radius: 4px;
    margin: 16px auto 0;
    cursor:pointer; 
    /* Cool thing I found out, cursor lets me change the type of cursor on hover! */
}

.card-sticker{
    position: absolute;
    padding: 3px 5px;
    background-color:palevioletred;
    transform: rotate(-20deg);
    /* Looked at W3 Schools for the transform property */
    border-radius: 4px;
    top: 25px;
    left:5px;
}